.cart-item-card img {
  height: 45px;
  aspect-ratio: 1;
  object-fit: fill;
  gap: 10px;
}

.quantity-select,
.quantity-select option {
  padding: 5px 10px;
  border: none;
  border-radius: 3rem;
  background-color: #EEE;
}

.quantity-select:hover {
  background-color: lightgray;
}