.business-item-table {
  border-spacing: 20px 0px;
  width: fit-content;
  margin: auto;
}

.business-item-table tr {
  border-bottom: 1px solid lightgrey;
}

.business-item-table td,
.business-item-table th {
  vertical-align: middle;
  height: 50px;
  padding: 10px;
}

.item-table__link {
  color: rgb(74, 128, 74);
  text-decoration: none;
}

.item-table__image {
  aspect-ratio: 1;
  height: 3rem;
}

.item-table__price {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-table__date {
  text-align: center;
}