.business-info-nav {
  width: 500px;
  background-color: lightgray;
}

.business-profile p {
  display: flex;
  gap: 5px;
}

.business-actions button {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 3rem;
}