.business-profile p {
  display: flex;
  gap: 5px;
}

.business-info-content {
  max-width: 1000px;
  width: 100%;
}

.business-info__header {
  position: relative;
}

.business-info__header,
.business-info__image {
  height: 250px;
}

.business-info__header img[src=""] {
  display: none;
}

.business-info__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  background-color: lightgrey;
}

.business-actions {
  padding: 20px;
  gap: 20px;
}

.business-actions button {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 3rem;
  border: 2px solid black;
}

.business-profile__name,
.business-profile__address {
  text-overflow: ellipsis;
  overflow: hidden;
}