.filter-bar {
  border: 1px solid black;
  height: 70px;
  gap: 20px;
}

.filter-icon img {
  width: 50px;
  aspect-ratio: 1;
  background-color: cornflowerblue;
  border-radius: 50%;
  border: 1px solid cornflowerblue;
}

.deals-bar {
  border: 1px solid black;
  height: 150px;
  padding: 10px;
  gap: 10px;
}

.deal-card {
  height: 100%;
  background-color: darkgoldenrod;
  width: 33%;
  border-radius: 10px;
  padding: 10px;
}

.filter-sidebar {
  width: 500px;
  height: 600px;
  border: 1px solid black;
}

.business-browsing__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  gap: 24px;
  padding: 20px;
}