.login-form {
  border: 1px solid red;
  gap: 10px;
  width: 350px;
}

.login-form input,
.login-form button,
.login-form select {
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  outline: none;
}

.login-form input,
.login-form select {
  background-color: rgb(238, 238, 238);
  border: 2px solid rgb(238, 238, 238);
}

.login-form select {
  width: 100px;
}

.login-form input:focus,
.login-form select:focus {
  border: 2px solid black;
}

.login-form button {
  padding: 1rem;
}