.confirm-delete {
  width: 550px;
  padding: 40px;
  gap: 10px;
}

.confirm-delete h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.confirm-delete__actions {
  gap: 10px;
}

.confirm-delete__actions button {
  border-radius: 10px;
  padding: 1rem;
}

.delete-name {
  color: #4e937a;
}