.business-menu {
  height: 100%;
  grid-area: menu;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.business-menu section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0px;
}

.business-menu section:not(:last-child) {
  border-bottom: 1px solid gray;
}

.business-menu i {
  width: 30px;
  text-align: left;
}

.menu-link {
  font-weight: bold;
}

.menu-link {
  color: gray;
}


.menu-link.active {
  color: green
}