.carts-menu__wrapper {
  position: fixed;
  top: 40px;
  right: 0px;
  z-index: 5;
}

.carts-menu {
  border-radius: 3rem;
  overflow: hidden;
}

.all-carts {
  gap: 10px;
  position: relative;
}

.all-carts__dropdown {
  margin-right: 40px;
  position: absolute;
  top: 100%;
  right: 0px;
  border: 3px solid darkmagenta;
  width: 400px;
  max-height: 550px;
  overflow-y: scroll;
  color: black;
}

.single-cart {
  gap: 5px;
  padding: 5px;
}

.single-cart img {
  aspect-ratio: 1;
  width: 35px;
  border-radius: 35px;
  object-fit: cover;
}


.cart-bt+.cart-bt {
  border-left: 1px solid lightgray;
}