.create-item-form {
  width: 550px;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 10px;
}

.create-item-form input,
.create-item-form label,
.create-item-form textarea {
  display: block;
  width: 100%;
}

.create-item-form input,
.create-item-form textarea {
  padding: 0.8rem;
}

.create-item__picture img {
  width: 200px;
  aspect-ratio: 1;
}

.create-item__price input {
  width: 100px;
  text-align: right;
}

/* Hiding number input arrows -- Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hiding number input arrows -- Firefox */
input[type=number] {
  -moz-appearance: textfield;
}